section.slider.clearfix
		section.about-me__left.inform
			.about-me__left_center
				.slider__display
					img.slider__img(src="assets/img/2.png" alt="")

				.about-me__header 2. сайт школы онлайн <br>образования
				.works__line
				.works__skills-info html, css, javascript
				.works__site 
					a.works__url(href="#") Посмотреть сайт
						img.works__img(src="assets/img/link.svg")
		section.about-me__right.slider__right.clearfix
			.slider__controls
				a(href="").slider__controls-item.slider__controls-item_prev
					each work, id in works
						img.slider__img(src=work.img alt=work.name data-name=work.name data-description=work.description data-id=id)
				a(href="").slider__controls-item.slider__controls-item_next
					each work,id in works
						img.slider__img(src=work.img alt=work.name data-name=work.name data-description=work.description data-id=id)